
body {
    font-family: 'Inconsolata', monospace;
    color: whitesmoke;
    background-color: rgb(50, 50, 50);
    /* text-rendering: optimizeLegibility; */
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#about {
    margin: 7.5% 25% 0% 25%;
    display: flex;
    flex-wrap: wrap;
}

#about > div {
    flex: 1;
}

#intro {
    margin-top: 5%;
}

#intro > * {
    width: 85%;
}

a {
    text-decoration: none;
}

#feat > * {
    margin-left: 0%;
    float: right;
}

#projects {
    margin: 0% 25% 0% 25%;
}

.btns {
    padding-left: 0;
}

.btns li {
    display: inline;
    margin-right: 15%;
    list-style-type: none;
    cursor: pointer;
}

.btns a {
    font-size: 1.4em;
    text-decoration: none;
    color: lightgray;
}

.btns a:hover {
    color: white;
}

.proj_btns {
    padding-left: 0;
}

.proj_btns li {
    display: inline;
    margin-right: 10%;
    list-style-type: none;
    cursor: pointer;
}

.proj_btns a {
    text-decoration:none;
    border-bottom: 1px dashed plum;
    color: lightgray;
}

.proj_btns a:hover {
    color: white;
    border-bottom: 1px solid plum;
}

.projDescription {
    padding-top: 1%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 1100px) {
    #about {
        margin: 0% 10% 0% 10%;
    }

    #intro {
        margin-top: 0%;
    }

    #projects {
        margin: 0% 10% 0% 10%;
    }

    #feat {
        display: none;
    }

    .proj_btns {
        padding-left: 0;
    }

    .proj_btns li {
        display: block;
        margin-right: 15%;
        list-style-type: none;
        cursor: pointer;
    }
    
}
