
body {
    font-family: 'Inconsolata', monospace;
    color: whitesmoke;
    background-color: rgb(50, 50, 50);
    /* text-rendering: optimizeLegibility; */
    height: 100%;
    padding: 0;
    margin: 0;
}

#name {
    font-size: 1.75em;
    font-weight: 1000;
}

.header {
    margin: 5% 15% 0% 15%;
}

.header a {
    text-decoration: none;
    color: lightgray;
}

.header a:hover {
    color: white;
}

.menu {
    padding-left: 0;
}

.menu li {
    display: inline;
    margin-right: 50px;
    list-style-type: none;
    cursor: pointer;
}

#content {
    margin: 5% 0% 0% 15%;
    display: inline-block;
}

#content > div {
    float: left;
    position: relative;
    margin-right: 60px;
}

#intro {
    margin-top: 5%;
    width: 400px;
    float: left;
}

#feat {
    float: left;
}

.btns {
    padding-left: 0;
}

.btns li {
    display: inline;
    margin-right: 15%;
    list-style-type: none;
    cursor: pointer;
}

.btns a {
    font-size: 1.4em;
    text-decoration: none;
    color: lightgray;
}

.btns a:hover {
    color: white;
}

.works img {
    max-width: 300px;
    max-height: 169px;
    border: 1px groove lightgray;
}

.works {
    text-decoration: none;
    color: lightgray;
    margin-right: 10%;
}

#about {
    width: 500px;
}

#about a {
    text-decoration: none;
    color: lightgray;
}

#about a:hover {
    color: white;
}

footer {
    position: relative;
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 0.8em;
    bottom: 0;
    width: 100%;
    color: gray;
    text-align: center;
}

#proj {
    margin: 5% 20% 0% 20%;
    text-align: center;
}

#proj a {
    text-decoration: none;
    color: lightgray;
}

#proj a:hover {
    color: white;
}

video {
    width: 480px;
}

@media only screen and (max-width: 600px) {
    video {
        width: 240px;
    }

    #about {
        width: 300px;
    }

    #intro {
        margin-top: 5%;
        width: 300px;
        float: left;
    }
}
